@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

@font-face {
  font-family: quadon;
  src: url("/icehockey/fonts/Quadon/Quadon.otf");
}

nav {
  font-family: 'Ubuntu', sans-serif;
}

body {
  padding-top: 65px;
  font-family: quadon;
  background: #E5E2E0
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: quadon;
  font-weight: 700;
  letter-spacing: 1px;
  color: #2C2C33;
}

p {
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: quadon;
  letter-spacing: 1px;
  color: #2C2C33;
}

.carousel-item {
  width: 100%;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-inner {
  width: 100%;
  height: .5625 * width;
}

.navbar-custom {
  background-color: #005EB8;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: #005EB8;
}

.navbar-custom .navbar-nav .nav-link {
  color: rgba(255, 255, 255, .5);
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #ffffff;
}

.maps {
  width: 100%;
  height: 300px;
  border: 0;
}

.form {
  width: 100%;
  height: 500px;
  border: 0;
}

.win {
  background: rgba(116, 170, 80, 0.4);
  font-weight: bold;
}

.loss {
	background: rgba(224, 60, 49, 0.4);
	font-weight: bold;
}

.container.gallery-container {
  color: #35373a;
	width: 100%;
	padding-right: 25px;
	padding-left: 25px;
	margin-right: 50px;
	margin-left: 50px;
  min-height: 100vh;
  padding: 30px 50px;
}

.gallery-container p.page-description {
  text-align: center;
  margin: 10px;
  font-size: 18px;
  color: #999;
}


.masonry { /* Masonry container */
  -webkit-column-count: 4;
  -moz-column-count:4;
  column-count: 4;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
  margin: 1.5em;
  padding: 0;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  font-size: .85em;
}
.gal-item {
  display: inline-block;
  background: #fff;
  padding: 0;
  margin: 0 0 1.5em;
  width: 100%;
  -webkit-transition:1s ease all;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 2px 2px 4px 0 #ccc;
}
.gal-item img{max-width:100%;}

@media only screen and (max-width: 320px) {
  .masonry {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}

@media only screen and (min-width: 321px) and (max-width: 768px){
  .masonry {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media only screen and (min-width: 769px){
  .masonry {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
/* @media only screen and (min-width: 1201px) {
  .masonry {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
} */


.ekko-lightbox-nav-overlay a {
  -ms-flex: 1;
  flex: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
  transition: opacity .5s;
  color: #A7BCD6;
  font-size: 30px;
  z-index: 1
}

.ekko-lightbox-nav-overlay {
  color: #B4B2AD;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex
}

.footer {
  background: #4A484C;
  width: 100%;
}

.footer-text {
  color: #7E7E7C
}

.footer a {
  color: #418FDE;
  font-size: 25px;
  padding: 7.5px;
  transition: all .5s ease;
}

.footer a:hover {
  color: white;
}
