* {
	margin: 0;
	padding: 0;
}

body {
	margin: 20px 0;
	background: #ffffff;
	font: normal 13px Arial, Helvetica, sans-serif;
	color: #000000;
}

a {
	color: #29A3E1;
}

a:hover {
	text-decoration: none;
	color: #E16629;
}

/* Boxed */

.title {
	/*background: url(images/img4.gif) no-repeat right center;*/
	border-bottom: 3px solid #CFCFCF;
}

.boxed1 .title {
	font: bold 100% "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.boxed1 .content {
	background: url(images/img05.gif) no-repeat left bottom;
	padding: 15px;
}

.boxed2 .title {
	font: normal 182% "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.boxed2 .content {
	background: url(images/img06.gif) repeat-x left bottom;
	padding: 10px;
}

.boxed3 .title {
	font: normal 129% "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.boxed3 .content {
	padding: 10px;
}

.boxed3 ol, .boxed3 ul {
	margin-left: 1em;
}


/* Header */

#header {
	width: 780px;
	height: 161px;
	margin: 0 auto;
	/*background: url(images/img02.jpg) no-repeat 100% 50px;*/
	border-bottom: 5px solid #68aee1;
}

/* Logo */

#logo {
	float: left;
	width: 240px;
	height: 160px;
	text-align: center;
}

#logo h1 {
	padding-top: 80px;
	font: bold 36px Georgia, "Times New Roman", Times, serif;
}

#logo h2 {
	font: bold 11px Verdana, Arial, Helvetica, sans-serif;
}

#logo a {
	color: #ffffff;
}

#logo img {
	border-style: none;
}

/* Menu */

#menu {
	float: left;
	width: 540px;
	height: 50px;
	/*background: #F4F4F4;*/
}

#menu ul {
	/*border-top: 5px solid #68aee1;*/
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	height: 30px;
	padding: 131px 15px 0px 15px;
	/*border-top: 5px solid #68aee1;*/
	text-decoration: none;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000000;
}

#menu a:hover {
	background: #DCDCDC;
	border-top-color: #1A7196;
}

#menu .active a {
	background: #FFA800;
	border-top-color: #E16629;
}

/* Page */

#page {
	width: 780px;
	margin: 0 auto;
	background: url(images/img03.gif) repeat-y;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}

/* Content */

#content {
	float: right;
	width: 520px;
	padding: 10px;
}

#content p, #content ol, #content ul {
	line-height: 152%;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 220px;
	padding: 10px;
}

#sidebar img {
	border-style: none;
}

#sidebar a img {
	color: #f4f4f4;
}

/* News */

#news {
	padding-top: 10px;
	padding-bottom: 0;
}

#news ul {
	list-style-type: square;
}

#news li {
	margin-bottom: 15px;
}

#news h3 {
	margin-bottom: 10px;
	font-size: 92%;
}

#news h3 a {
	display: block;
}

#news p {
	font-size: 85%;
}

/* Welcome */

#welcome {
	margin-bottom: 10px;
}

#welcome table {
	font-size: small;
}

#welcome table tr td {
	vertical-align: top;
}

#welcome table tr td ul li {
	margin-left: 10px;
}

#welcome td {
	padding-right: 5px;
	padding-bottom: 5px;
}

/* Samples */

#sample1, #sample2 {
	float: left;
	width: 250px;
}

#sample1 {
}

#sample2 {
	margin-left: 20px;
}

/* Footer */

#footer {
	width: 780px;
	margin: 0 auto;
	padding: 0px 0px;
	border-top: 3px solid #68aee1;
}

#footer p {
	float: left;

	font-size: x-small;
	
	border: 0px;
	margin: 5px 0px 0px 0px;
}

#footer a img {
	float: right;

	border: 0px;
	margin: 3px 0px 0px 3px;
}